<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f2f2f2;
			margin: 0;
			padding: 0;
		}

		.container {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			max-width: 800px;
			margin: 0 auto;
			padding: 20px;
			background-color: #fff;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		}

        
		.navbar {
			background-color: #333;
			padding: 10px;
			max-width: 800px;
			margin: 0 auto;
			padding: 20px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		}

		.navbar ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
		}

		.navbar li {
			float: left;
			margin-right: 10px;
		}

		.navbar a {
			display: block;
			color: #fff;
			text-decoration: none;
			padding: 10px;
		}

		.navbar a:hover {
			background-color: #555;
		} 

		h1 {
			color: #333;
			text-align: center;
			margin-top: 0;
		}
		h2 {
			color: #333;
			text-align: center;
			margin-top: 0;
		}

		p {
			color: #666;
			line-height: 1.5;
		}

		.button {
			display: inline-block;
			padding: 10px 20px;
			background-color: #333;
			color: #fff;
			text-decoration: none;
			border-radius: 4px;
		}

		.button:hover {
			background-color: #555;
		}
        .video{
         justify-content: center;
        }
		.imagem{
			border-radius: 50%;
		}
	</style>